.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body, html {

  font-family: 'Montserrat', sans-serif;

}


.bgimage{
  position:fixed;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.ted {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-70%, -50%);
  width: 80%;
}

.davv {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 80%;
}

.E{
  position: fixed;
  top: 30%;
  left: 14%;
  /* transform: translate(-50%, -50%); */
  color: #ffffff;
  font-size: 100px; /* set the font size to the desired amount */
  font-weight: bold; 
  opacity: 0;
}

.V{
  position: fixed;
  top: 32.5%;
  left: 19%;
  /* transform: translate(-50%, -50%); */
  color: #ffffff;
  font-size: 150px; /* set the font size to the desired amount */
  font-weight: bold; 
  opacity: 0;
}

.O{
  position: fixed;
  top: 23%;
  left: 27%;
  /* transform: translate(-50%, -50%); */
  color: #ffffff;
  font-size: 230px; /* set the font size to the desired amount */
  font-weight: bold; 
  opacity: 0;
}

.L{
  position: fixed;
  top: 16%;
  left: 40%;
  /* transform: translate(-50%, -50%); */
  color: #ffffff;
  font-size: 280px; /* set the font size to the desired amount */
  font-weight: bold;
  opacity: 0; 
}

.V2{
  position: fixed;
  top: 7%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  color: #ffffff;
  font-size: 350px; /* set the font size to the desired amount */
  font-weight: bold; 
  opacity: 0;
}

.E2{
  position: fixed;
  top: 1%;
  left: 68%;
  /* transform: translate(-50%, -50%); */
  color: #ffffff;
  font-size: 400px; /* set the font size to the desired amount */
  font-weight: bold; 
  opacity: 0;
}

.plane{
  position:fixed;
  top: 20%;
  left: -50%;
  width: 20%;
  z-index: 1;
}

.cloud1{
  position: fixed;
  top:-18%;
  left:0%;
  width: 100%;
  z-index: 5;
}

.alumni{
  position: fixed;
  top:70%;
  left: 200%;
  width:30%;
  z-index: 2;
}

.a-block{
  position:fixed;
  top: 53%;
  left: 100%;
  width: 25%;
  z-index: 1;
}

.admin-building{
  position: fixed;
  top:65%;
  left: 100%;
  width:40%;
}

.com-building{

  position:fixed;
  top:200%;
  left:30%;
  width:30%;
  z-index: 6;
}

.rnth{
  position: fixed;
  top:65%;
  left: -100%;
  width: 80%;
  z-index: 1;
}

.cloud2{

  position:fixed;
  top:10%;
  left:30%;

}

.cloud3{
  
  position: fixed;
  top:-30%;
  left:0%;
  width:100%;
}

.rocket{

  position:fixed;
  top:100%;
  left:85%;
  width:18%
}

.ballon{
  position:fixed;
  top:150%;
  left:-5%;
  width: 80%;
}

